body{
    background-color: aliceblue;
    /*background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

h5{
    color: brown;
}

#testing-para1{
    color: chartreuse;
    size: 10px;
}

#decoration-apply{
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: aquamarine;
}
.font-apply{
    font-size: 40px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: olive;
    background-color: white;
}

ul{
    color: dodgerblue;
    font-size: 30px;

}

.apply-all-ftd{
    size: 30px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;

}

.change-w{
    color: coral;
    font-style: italic;
    font-weight: 600;
}

.background{
    background-color: blueviolet; 
    font-size: 30px;

}

#list-apply{
    color: chartreuse;
    background-color: aqua;
    size: 30px;
}

 #netflix{
   color: brown;
   font-size: 40px;
   text-align: right;
 }
 

#one{
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 25px;
    word-spacing: 8px;
    color: gold;
    background-color: black;
    
}

/*text-align: left;*/
/*text-align: center;*/
/*text-transform: lowercase;*/
/*text-transform: capitalize;*/
/*text-transform: None;*/

.name{
    text-align:right ;
}

.change-w{
    color: red;
    text-transform: uppercase;
    
}

.play-with-letter{
    font-size: 50px;
}

div.one{
    opacity: 0.1;
}

div.two{
    opacity: 0.3;
}

div.three{
    opacity: 0.5;
}

div.color{
    background-color: aquamarine;
}

.border-property{
    border-radius: 10px;
    border-color: rgb(180, 80, 80);
    border-width: 2px;
    border-style: solid;
    /* border: 10px red solid; */
}

.alpha{
   border-color: chartreuse;
   border-radius: 10px;
   border-width: 2px;
   border-style: solid;
}

