body{
    background-color: aliceblue;
    /*background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

h5{
    color: brown;
}

#testing-para1{
    color: chartreuse;
    size: 10px;
}

#decoration-apply{
    text-decoration: wavy;
    text-decoration: underline;
}





.font-apply{
    font-size: 40px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: olive;
    background-color: white;
}

ul{
    color: dodgerblue;
    font-size: 30px;

}

.apply-all-ftd{
    size: 30px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;

}

.play-with-letter{
    color: coral;
    font-style: italic;
    font-weight: 600;
}

.background{
    background-color: blueviolet; 
    font-size: 30px;

}

#list-apply{
    color: chartreuse;
    background-color: aqua;
    size: 30px;
}

 #netflix{
   color: brown;
   font-size: 40px;
 }
 

#one{
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 25px;
    word-spacing: 8px;
    color: gold;
}


